<div class="operator">
  <p>{{operator.name}}</p>
  <div>
    <label>frequency</label>
    <input type="range" max="100" min="0" step="1" [(ngModel)]="operator.frequency">
  </div>
  <div>
    <label>new connection</label>
    <select [(ngModel)]="newConnection">
      <option *ngFor="let connectionPoint of connectionPoints" [value]="connectionPoint.uuid">{{connectionPoint.name}}</option>
    </select>
    <button [disabled]="!newConnection" (click)="addConnection()">add connection</button>
  </div>
  <ul>
    <li *ngFor="let connector of operator.connectors" class="connector">
      <connector [connector]="connection" (disconnect)="discconect(id)"></connector>
    </li>
  </ul>
  <button (click)="delete()">Delete</button>
</div>

