<div class="connector">
  <p>Connect to {{connector.connectionTo.name}}</p>
  <label>Gain</label><input type="number" min="0" max="1000" step="0.1" [(ngModel)]="connector.gainValue" (change)="onChange($event)">
  <span>envelope:</span>
  <label>Attack</label>
  <input type="number" min="0" max="1.0" step="0.1" [(ngModel)]="connector.envelope.attack" (change)="onChange($event)">
  <label>Decay</label>
  <input type="number" min="0" max="1.0" step="0.1" [(ngModel)]="connector.envelope.decay" (change)="onChange($event)">
  <label>Sustain</label>
  <input type="number" min="0" max="1.0" step="0.1" [(ngModel)]="connector.envelope.sustain" (change)="onChange($event)">
  <label>Release</label>
  <input type="number" min="0" max="1.0" step="0.1" [(ngModel)]="connector.envelope.release" (change)="onChange($event)">
  <button (click)="onDisconnect($event)">disconnect</button>
</div>
